{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<section class="grids">
    <div class="contents">
        <div class="content-lefts">
            <div class="infos">
                <h2>About Us</h2>
                <p>Welcome to our enchanting world of baby wonders! At KiddiES, we celebrate the magic of infancy by curating a
                    delightful collection of products designed to cater to the unique needs of your little ones. Nestled in the heart
                    of Bacoor, Cavite, our baby shop is a haven for parents and caregivers seeking not only the
                    finest quality essentials but also a touch of whimsy and charm for their bundles of joy.</p>
                <p>Visit us at Soldiers Hill IV Bacoor, Cavite and explore a world where every tiny sock, every snug onesie,
                    and every gentle rattle tells a story of love, care, and the pure joy of parenthood.
                    Welcome to a world of endless possibilities for your little one at KiddiES –
                    where the magic of infancy comes to life!</p>


            </div>
        </div>
        <div class="content-right">
            <img src="{% static '/images/logo2.png' %}" alt="logo">
        </div>
    </div>
</section>
{% endblock %}
