{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
    <div class="addProd">
        <button class="addButt"><a href="{% url 'products' %}" id="addSub">Back</a></button>
    </div>
<br>

     <h2>
        Add Product
     </h2>
<br>

<div class="container">
      <form action="" method="POST">
         {% csrf_token %}
          <label>Product Name:</label>
          {{ form.name }}
          <label>Description:</label>
          {{ form.description }}
          <label>Price:</label>
          {{ form.price }}



         <button type="submit">Add Product</button>
      </form>
</div>

{% endblock %}
