{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<div class="del">
     <h2>
        Delete Product
     </h2>
<br>

<p class="deleteMessage">Are you sure you want to delete this product {{product}}?</p>

      <form action="" method="POST">
         {% csrf_token %}

          <div class="buttonsDel">
              <button type="submit" name="submit">Yes</button>
              <button><a href="{% url 'products' %}">Cancel</a></button>
          </div>

      </form>
</div>


{% endblock %}

