{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<section class="grid">
    <div class="content">
        <div class="content-left">
            <div class="info">
                <h2>Order For Your <br>Little Kiddo</h2>
                <p>Tiny wonders, endless possibilities. Explore a world of comfort and <br>cuteness with our curated collection of baby essentials. <br>
                    From snug onesies to adorable accessories,
                    we've got everything your little <br>bundle of joy needs for a happy and stylish start in life.</p>


            </div>
        </div>
        <div class="content-right">
            <img src="{% static '/images/baby.png' %}" alt="logo">
        </div>
    </div>
</section>
{% endblock %}
