{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ordering System</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %} ">
    <link rel="icon" type="images/x-icon" href="{% static '/images/icon-baby.png' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
{% include 'pages/navigation.html' %}
{% block content %}

{% endblock %}


<script src="{% static '/js/script.js' %}"></script>

</body>
</html>
